body{
    background-color: aliceblue;
}
/* 
img{
    position: relative;
    height: 200px;
    width: 150px;
    background: rgba(0,0,0,0.45);
    /* clip-path: path("M 0,10 L 10,20 L 20,10 L 20,10 Z"); */
    border: black;
}  */

.card{
    
}